body {
	font-family: 'Josefin Sans', sans-serif;

	background: #fff7e6;
}
a.button{
 	background: #fffeee;
	color:orange;
    text-decoration: none;
    padding:10px 15px;


	border-radius:12px;
    font-size:20px;
    font-family: 'Josefin Sans', sans-serif;
    
  
    appearance: button;

}
h1 {
	color: orange;
	text-align: center
}

ul {
	list-style:none;
	margin: 0 auto;
	padding: 0;
	display: block;
	max-width: 780px;
	text-align: center;
}
ul li {
	display: inline-block;
	padding: 8px;
	background:white;
	margin:10px;
}
ul li img {
	display: block;
}
a {
	text-decoration: none;
}
/** Start Coding Here **/
#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
  
}
#overlay img{
	margin-top:10%;
	width:500px;
	height:300px;
}















